.tarik {
    color: black;
    -webkit-box-shadow: 0px -3px 15px -7px rgba(0, 0, 0, 0.46);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* background-color: whitesmoke; */
    box-shadow: rgba(0, 0, 0, 0.23) 0px -3px 6px;
  }
  .garis_tarik {
    background-color: dimgrey;
    width: 84px;
    height: 9px;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

.warna{
    background-image: linear-gradient(to right, #00b4db, #0083b0);
}
.tombol{
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

.judul{
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: white;
    text-align: center;
    width: 200px;
    margin: 20px auto;

    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0px 3px 0px rgba(0,0,0,0.2);
}
.jadwal{
    background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.warna-jadwal{
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.warna-tugas{
    background-image: linear-gradient(-20deg,#32DE84,#00C989,#00B38D,#009E8F,#00888D,#007288);
}
.piket{
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
/* ........ Contact Us........... */

#contact {
    padding: 5rem 0;
    background: rgb(226, 226, 226);
  }
  
  .contact-container {
    display: flex;
    background: #fff;
  }
  
  .contact-img {
    width: 50%;
  }
  
  .contact-img img {
    display: block;
    height: 400px;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  
  .form-container {
    padding: 1rem;
    width: 100%;
    margin: auto;
  }
  
  .form-container input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
  }
  
  .btn{
    background: linear-gradient(rgba(54,123,149,1), rgba(0,212,255,1));
  }
  
  .form-container textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    color: #444;
    outline: none;
    padding: 1rem 0;
    resize: none;
  }
  
  .form-container h2 {
    font-size: 2.7rem;
    font-weight: 500;
    color: #444;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .form-container a {
    font-size: 1.3rem;
  }
  
  #footer h2 {
    text-align: center;
    font-size: 1.8rem;
    padding: 2.6rem;
    font-weight: 500;
    color: #fff;
    background: rgb(65, 65, 65);
  }
.btn-kirim{
    margin-top: 1rem;
}